@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .link {
    @apply relative text-blue-500;
  }
  .link::after {
    @apply absolute -bottom-[3px] left-0 h-[2px] w-[0%] bg-blue-500 duration-300 content-[''];
  }
  .link:hover::after {
    @apply w-[100%];
  }

  .button {
    @apply relative z-20 cursor-pointer rounded-md border-2 border-blue-500 text-blue-500;
  }
  .button::after {
    @apply absolute left-0 top-0 -z-10 h-full w-full origin-top-left scale-x-0 bg-blue-500 duration-500 content-[''];
  }
  .button:hover {
    @apply text-slate-300;
  }
  .button:hover::after {
    @apply scale-x-100;
  }

  .sectionNumber {
    @apply self-end font-mono text-lg text-blue-500 xl:text-xl;
  }
  .sectionTitle {
    @apply text-inter-700 text-2xl text-slate-300 md:text-3xl xl:text-4xl;
  }

  .formField {
    @apply rounded-md p-2 text-sm text-slate-950 transition duration-200 placeholder:text-sm hover:bg-blue-100 focus:outline-none;
  }

  .linkIcon {
    @apply cursor-pointer text-slate-300 duration-300 hover:scale-110 hover:text-blue-500;
  }

  .extSection {
    @apply flex flex-col gap-4 px-5 min-[500px]:px-10 md:px-20 lg:px-[120px] xl:px-40;
  }
  .midSection {
    @apply space-y-4 p-5 min-[500px]:p-10 md:px-20 md:py-10 lg:px-[120px] lg:py-[60px] xl:px-40 xl:py-20;
  }
}

.text-inter-700 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.text-inter-500 {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
